%div.sidebar
  %div.sidebar__user
    %div.sidebar__user--name
      = current_user.name
    %div.sidebar__user--edit
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.fa-lg
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog.fa-lg

  %div.sidebar__group
    - @groups.each do |group|
      %p.sidebar__group--group-name
        = link_to "#{group.name}",group_messages_path(group), class: "link"
      %p.sidebar__group--group-new-message
        = group.find_last_message

